<main class="container-main">
    <div class="box-conteudo listar-livros">
        <h1>Detalhes do Livros</h1>
        <h2 class="tituloLivro">Nome do livro</h2>
        <div class="linha"></div>
        <!-- Fim da Parte do admin -->

        <div class="conteudoLivro">
            <div class="imgLivro">
                <img style="width: 400px;" id="imagemLivro" src="~/images/Livros/" alt="Imagem da capa do livro ">
            </div>

            <div class="descricaoLivro">
                <span><strong>Descrição:</strong></span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At fugit aspernatur dolor laboriosam quos
                    dolore, et necessitatibus, distinctio officiis pariatur ut non tenetur, aliquam temporibus?
                    Accusantium similique dignissimos cumque repellendus.</p>

                <div class="botoesAcoes">
                    <button class="botao reservar btn">Reservar</button>
                    <a class="coracao" href=""><img src="~/images/heart-solid 2.png" alt=""></a>
                </div>
            </div>
        </div>

        <div class="linha"></div>

        <div class="detalhesLivro">
            <p><strong>Editora:</strong>Editora xxxxx</p>
            <p><strong>Escritor:</strong>Escritor xxxx</p>
            <p><strong>Idioma:</strong> Inglês</p>
            <p><strong>Categoria:</strong>
            <ul>

                <li>Romance</li>
                <li>Ação</li>

            </ul>
            </p>
        </div>
</main>