@{
    ViewData["Title"] = "Home Page";
}
<article class="banner">
    <div class="container banner-flex">
        <div class="banner-info">
            <h1>Bem-vindo ao Bibliotec!</h1>
            <p>
                O melhor gerenciador para biblioteca de maneira moderna e
                automatizada!
            </p>

            <a href="#" class="btn-acessar">Acessar</a>
        </div>

        <img class="banner-image" src="~/images/banner-mulher-livro2.png" alt="" />
    </div>
</article>

<!-- ************ SESSÃO MOTIVOS ************-->
<section class="motivos">
    <div class="container motivos-flex">
        <div class="titulo2">
            <h2>Por que usar a Bibliotec?</h2>
            <hr class="titulo-linha" />
        </div>

        <article class="card-motivos">
            <div class="icon-box">
                <img src="~/images/book-solid.svg" alt="ilustração de um livro" class="motivos-icon" />
            </div>
            <h3>Reserve su livro online</h3>
            <p>Imagine livros que ama listados em um único lugar</p>
        </article>

        <article class="card-motivos">
            <div class="icon-box">
                <img src="~/images/check-solid.svg" alt="ilustração de uma lista de itens" class="motivos-icon" />
            </div>
            <h3>Visualize se seu livro estará disponível</h3>
            <p>Imagine livros que ama listados em um único lugar</p>
        </article>

        <article class="card-motivos">
            <div class="icon-box">
                <img src="~/images/heart-solid.svg" alt="ilustração de um coração" class="motivos-icon" />
            </div>
            <h3>Faça sua lista de favoritos</h3>
            <p>Imagine livros que ama listados em um único lugar</p>
        </article>
    </div>
</section>

<section class="plataforma">
    <div class="container plataforma-flex">
        <div class="plataforma-info">
            <h2 class="plataforma-titulo">Acesse a nossa plataforma!</h2>
            <p>Faça o login ou solicite cadastro para a bibliotecária</p>
            <a href="#" class="btn-acessar">Acessar</a>
        </div>
    </div>
</section>

<!-- ************ SESSÃO MOTIVOS ************-->
<section class="recomendados">
    <div class="container recomendados-flex">
        <div class="titulo2">
            <h2>Por que usar a Bibliotec?</h2>
            <hr class="titulo-linha" />
        </div>

        <div class="card">
            <img src="~/images/livro1.png" alt="" />
            <h3>A escolha do bem e do mal</h3>
            <span class="titulo-autor">Autor(a):</span>
            <span class="nome-autor">Soman Chainani</span>
        </div>
        <div class="card">
            <img src="~/images/livro2.png" alt="" />
            <h3>Filhas da Lua</h3>
            <span class="titulo-autor">Autor(a):</span>
            <span class="nome-autor">Carolina França</span>
        </div>
        <div class="card">
            <img src="~/images/livro3.png" alt="" />
            <h3>TI para negócios</h3>
            <span class="titulo-autor">Autor(a):</span>
            <span class="nome-autor">Edson Perin</span>
        </div>
        <div class="card">
            <img src="~/images/livro4.png" alt="" />
            <h3>Mestres do Tempo</h3>
            <span class="titulo-autor">Autor(a):</span>
            <span class="nome-autor">R.V. Campbell</span>
        </div>
    </div>
</section>
