<main class="container-main">
    <div class="box-conteudo">
        <div class="conteudo_principal">
            <h2>Usuario 123</h2>
            <div class="linha"></div>

            <div class="info_usuario">
                <div class="conteudo">
                    <span><strong>E-mail:</strong></span>
                    <p>Usuario@email.com</p>
                </div>
                <div class="conteudo">
                    <span><strong>Curso:</strong></span>
                    <p>Multimidia</p>
                </div>
                <div class="conteudo">
                    <span><strong>Celular:</strong></span>
                    <p>(11)96482-8659</p>
                </div>
                <div class="conteudo">
                    <span><strong>Data de nascimento:</strong></span>
                    <p>18/12/2000</p>
                </div>

            </div>
        </div>
    </div>
</main>